mule/planetsapi/src/main/mule/planetsapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b82e9154-244c-4588-8f83-98376e21f718" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="planetsapiFlow" doc:id="3344dd05-6154-45c7-aa1c-aaa0061b9d78" >
		<http:listener doc:name="Listener" doc:id="a89c152e-91ea-4d2c-b275-ba98342a58e1" config-ref="HTTP_Listener_config" path="/planets/{id}"/>
		<set-payload value='#[%dw 2.0
output application/json
var planets = [
    {
        "planet": "Mercury",
        "moons": 0,
        "diameter": 4879,
        "distanceFromSun": 57.9
    },
    {
        "planet": "Venus",
        "moons": 0,
        "diameter": 12104,
        "distanceFromSun": 108.2
    },
    {
        "planet": "Earth",
        "moons": 1,
        "diameter": 12756,
        "distanceFromSun": 149.6
    },
    {
        "planet": "Mars",
        "moons": 0,
        "diameter": 6792,
        "distanceFromSun": 227.9
    },
    {
        "planet": "Jupiter",
        "moons": 67,
        "diameter": 142984,
        "distanceFromSun": 778.6
    },
    {
        "planet": "Saturn",
        "moons": 62,
        "diameter": 120536,
        "distanceFromSun": 1433.5
    },
    {
        "planet": "Uranus",
        "moons": 27,
        "diameter": 51118,
        "distanceFromSun": 2872.5
    },
    {
        "planet": "Neptune",
        "moons": 14,
        "diameter": 49528,
        "distanceFromSun": 4495.1
    },
    {
        "planet": "Pluto(Dwarf-Planet)",
        "moons": 5,
        "diameter": 2370,
        "distanceFromSun": 5906.4
    }
]
---
planets[attributes.uriParams.id as Number]]' doc:name="Set Payload" doc:id="8f1ff4d5-640f-43e1-9eec-a0b46049eda9" />
	</flow>
</mule>
