mule/batchapi/src/main/mule/batchapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="c1a20bfe-850d-4c13-b74c-d62acc244370" >
		<file:connection workingDir="C:\Users\madan\Desktop\New folder" />
	</file:config>
	<flow name="batchapiFlow" doc:id="4910566a-c9f8-4ce9-884c-1d7cdfb34e55" >
		<file:listener doc:name="On New or Updated File" doc:id="91c48440-d062-455f-bea3-dcaaf9068e94" config-ref="File_Config" moveToDirectory="C:\Users\madan\Desktop\New folder1">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="8fb83c9c-cf12-4a6f-a8f0-0b803059198f" >
			<ee:message >
				<ee:set-payload ><![CDATA[ %dw 2.0
  output application/java
  ---
  write(payload, "result/csv")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="5d3d0078-b3f0-4180-8d44-8e43d7e1136e" >
			<set-payload value="#[payload]" doc:name="Set Payload" doc:id="b88d4084-e91e-407d-ab83-47c06b800d44" />
			<logger level="INFO" doc:name="Logger" doc:id="8943e351-75a5-4178-9963-8b09779e538e" message="record processed"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="4d69e284-4eca-49a8-9ac6-51babc5020f4" />
	</flow>
</mule>
